---
import Layout from "@/layouts/Layout.astro";
import Briefcase from "@/assets/icons/Briefcase.astro";
import Experience from "@/components/Experience.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Hero from "@/components/Hero.astro";
import ProjectSelector from "@/components/ProjectSelector";
import Projects from "@/components/Projects.astro";
import Freelances from "@/components/Freelances.astro";
import Code from "@/assets/icons/Code.astro";
---

<Layout
  title="Portfolio de Sebastián"
  description="Portafolio para presentar mi experiencia profesional y proyectos. Estoy en busca de trabajo como desarrollador y programador web."
>
  <main class="px-4">
    <SectionContainer class="py-16 md:pb-36 md:py-28">
      <Hero />
    </SectionContainer>
  </main>

  <div class="space-y-24 px-4">
    <SectionContainer id="experiencia">
      <h2
        class="font-display flex items-center mb-2 text-3xl font-bold gap-x-3 text-gray-900 dark:text-white"
      >
        <Briefcase class="size-7 text-amber-500 dark:text-amber-400" />
        Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <ProjectSelector client:visible>
        <Code class="size-9" slot="icon" />
        <Freelances slot="freelancesComponent" />
        <Projects slot="projectsComponent" />
      </ProjectSelector>
    </SectionContainer>
  </div>
</Layout>
