---
import Layout from "@/layouts/Layout.astro";
import Briefcase from "@/assets/icons/Briefcase.astro";
import Experience from "@/components/Experience.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Hero from "@/components/Hero.astro";
import ProjectSelector from "@/components/ProjectSelector";
import Projects from "@/components/Projects.astro";
import Freelances from "@/components/Freelances.astro";
import Code from "@/assets/icons/Code.astro";
---

<Layout
  title="Portfolio de Sebastián"
  description="Portafolio para presentar mi experiencia profesional y proyectos. Estoy en busca de trabajo como desarrollador y programador web."
>
  <main class="px-4">
    <SectionContainer class="py-16 md:pb-36 md:py-28">
      <Hero />
    </SectionContainer>
  </main>
  <div class="space-y-24">
    <SectionContainer id="experiencia">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <Briefcase class="size-8" />
        Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>
    <SectionContainer id="proyectos">
      <SectionContainer id="proyectos">
        <ProjectSelector client:visible>
          <Code class="size-10" slot="icon" />
          <Freelances slot="freelancesComponent" />
          <Projects slot="projectsComponent" />
        </ProjectSelector>
      </SectionContainer>
    </SectionContainer>
  </div>
</Layout>
