---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "Julio 2024 - Presente",
    title: "Frontend Developer",
    company: "Coding Latam",
    description:
      "Participé en el desarrollo de la plataforma de cursos de Coding Latam, implementando la autenticación con Google, desarrollando parte de la UI, y creando secciones para comentarios y opiniones. Utilicé Next.js, Tailwind CSS, TypeScript, Auth.js y Firebase.",
    link: "https://cursos.codinglatam.dev/",
  },
  {
    date: "Marzo 2023 - Julio 2024",
    title: "Data Analyst / Frontend Developer",
    company: "Mobup Tacna",
    description:
      "Optimicé un sitio web haciendolo 100% responsivo con HTML y Tailwind CSS, optimizando la visualización de datos. Extraje y analicé información desde SQL Server y Oracle SQL para generar reportes. Automatizé la extracción y carga de datos implementando JOBs en SQL Server y scripts en Linux. Además, diseñé dashboards en Power BI conectados a SQL Server, reduciendo tiempos considerables de generación de reportes en Excel.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
