---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
{
    date: "Julio 2024 - Presente",
    title: "Frontend Developer",
    company: "Coding Latam",
    description:
      "Contribuí al desarrollo de la plataforma de cursos, implementando la autenticación con Google, desarrollando parte de la interfaz de usuario, y creando secciones para comentarios y opiniones. Utilicé Next.js, TypeScript, Tailwind CSS, Auth.js y Firebase.",
    link: "https://cursos.codinglatam.dev/",
  },
  {
    date: "Marzo 2023 - Julio 2024",
    title: "Frontend Developer",
    company: "Mobup Tacna",
    description:
      "Desarrollé la página web de monitoreo utilizando HTML, Tailwind CSS, JavaScript,  y PHP, asegurando su responsividad para diferentes dispositivos. Actualicé, manipulé y extraje información de la base de datos utilizando SQL.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
