---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "Noviembre 2024 - Presente",
    title: "Frontend Developer",
    company: "Coding Latam",
    description:
      "Participé en el desarrollo de la plataforma de cursos de Coding Latam, implementando la autenticación con Google, desarrollando parte de la UI, y creando secciones para comentarios y opiniones. Utilicé Next.js, TypeScript, Tailwind CSS, Auth.js y Firebase.",
    link: "https://cursos.codinglatam.dev/",
  },
  {
    date: "Marzo 2023 - Julio 2024",
    title: "Analista de datos",
    company: "Mobup Tacna",
    description:
      "Optimicé la UI del sitio web de monitoreo con Tailwind CSS, mejorando su diseño y garantizando una experiencia responsiva. Gestioné bases de datos en SQL Server y Oracle SQL, realizando extracción, manipulación y actualización de información para crear reportes detallados. Diseñé y mantuve dashboards interactivos en Power BI para un monitoreo más eficiente del estado del servicio.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
